<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Página principal</title>
    <link 
      rel="icon" 
      type="image/png" 
      href="https://www.pucevirtual.edu.ec/wp-content/uploads/2017/01/iconoceleste.gif"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./header.ejs') %>
    
    <div class="container">
      <h2 class="mb-4" style="text-align:center;font-weight:bold;">BASE DE DATOS 2</h2>
      <p style="text-align:center;">
        <img 
          src="https://scontent.fesm1-1.fna.fbcdn.net/v/t1.0-9/106453744_1119673195072529_2973362014961382074_n.jpg?_nc_cat=107&_nc_sid=85a577&_nc_ohc=dGc7csNGRFoAX_1lbvf&_nc_ht=scontent.fesm1-1.fna&oh=a8490487cfffbac0e79631d66600c43e&oe=5F200249"
          alt="Imagen PUCE" 
          class="img-fluid"
          style="width:150px;height:150px;"
        >
      </p>
      <p style="text-align:justify;background-color: #9c9c9cb0;">
        Hola, mi nombre es Luis Fernando Guerra Manzano, estoy cursando el séptimo nivel de la carrera de Ingeniería en Sistemas y Computación en la PUCESE. <br>
        Y esta página es para la materia de Base de Batos II.
      </p>
    </div>

  </body>
</html>
